.div1 {
    background-color: green;
    text-align: center;
    color: white;
    height: 3cm;
}

a {
    color: blue;
}

.chuyenmuc {
    background-color: rgb(186, 155, 155);
    text-align: top;
    width: 6cm;
    padding-bottom: 11cm;
}

p {
    border-bottom: 1px solid rgb(24, 3, 3);
}

.p1 {
    background-color: black;
    color: white;
    text-align: center;
}